<ng-container *ngIf="!data.nostr">
  <nz-spin [nzSize]="'large'" [nzTip]="data.text">
    <div style="width: 150px; height: 100px"></div>
  </nz-spin>
</ng-container>

<div
  *ngIf="data.nostr"
  style="width: 220px; min-height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 12px"
>
  <nostr-status
    [relayStatus$]="nostrStatus.fetchStatus$"
    [progress$]="nostrStatus.consensusProgress$"
    [size]="40"
  ></nostr-status>
  <span>{{ data.text }}</span>
</div>
